body{
    padding:15px;
}




.jumbotron{
    background-image:url("https://codehs.com/uploads/8569ab2726c30737943bcbb30ae8e6bb");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
   
}

.btn{
    border-radius:0px;
}

.space{
    padding-top:15px;
}